.main-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  column-gap: 100px;
  flex-wrap: wrap;
  row-gap: 50px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 574px;
  width: 100%;
  row-gap: 100px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Baloo 2", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #242635;
}
.link-container {
  display: flex;
  column-gap: 20px;
}

.link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242635;
  text-decoration: none;
}
.dots {
  width: 16px;
  height: 4px;
}
.main-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  color: #242635;
}
.main-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #242635;
}
.icon-container {
  display: flex;
  align-self: flex-start;
  width: 16px;
  height: 40px;
}
.img-soup {
  max-width: 576px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1275px) {
  svg.icon-container {
    display: none;
  }
  h1.title {
    font-size: 72px;
    line-height: 83px;
    letter-spacing: -1.6px;
    text-align: center;
  }
  p.main-text {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  a.link {
    display: none;
  }
  h1.title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.8px;
  }
  p.main-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  svg.dots {
    display: none;
  }
}
